{
  "extends": [ 
    "airbnb-base",
    "plugin:security/recommended"
  ],
  "plugins": [
    "const-case",
    "security"
  ],
  "rules": {
    "no-console": "off",
    "indent": "error",
    "max-len": ["error", 130],
    "newline-before-return": "error",
    "properties": "always",
    "const-case/uppercase": "error",
    "security/detect-object-injection": "off"
  }
}
